@import "tailwindcss";

:root {
  --primary: hsl(204, 100%, 69%);
  --surface: hsl(209, 73%, 7%);
  --surface-bright: hsl(207, 30%, 24%);
  --surface-dim: hsl(212, 100%, 3%);
  --on-surface: hsl(203, 100%, 95%);
  --on-surface-variant: hsl(197, 5%, 71%);
}

@theme inline {
  --color-primary: var(--primary);
  --color-surface: var(--surface);
  --color-surface-bright: var(--surface-bright);
  --color-surface-dim: var(--surface-dim);
  --color-on-surface: var(--on-surface);
  --color-on-surface-variant: var(--on-surface-variant);
  --font-sans: var(--font-sans);
  --font-monospace: var(--font-monospace);
  --spacing: 1ch;
}

@utility tag {
  background-color: var(--primary);
  color: var(--surface);
}

body {
  background: var(--surface);
  color: var(--on-surface);
  font-family: var(--font-monospace);
  @apply text-base;
}

.tag {
  @variant selection {
    background: var(--surface);
    color: var(--primary);
  }
}

* {
  border-color: var(--surface-bright);
  /* outline: 1px rgba(255, 0, 0, 0.433) solid; */

  @variant selection {
    background-color: var(--on-surface);
    color: var(--surface);
  }
}

.filetree {
  @apply relative;
}

.nest-file {
  @variant before {
    @apply absolute;
    translate: calc(-2ch * var(--iteration) - 2ch) 0;
    content: attr(data-prefix);
  }
}

button {
  @apply cursor-pointer;
}